/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --hue: 207;
  --sat: 90%;
  --lig: 61%;  
  --first-color: #8A2BE2; /* Violeta */
  --first-color-alt: #6D1D9E;
  --second-color: #FF0000; /* Rojo */
  --second-color-alt: #990000;
  --third-color: #0066FF; /* Azul */
  --third-color-alt: #004080;
  --fourth-color: #14C84A; /* Verde */
  --fourth-color-alt: #0D995F;
  --fifth-color: #EE00FF; /* Rosa */
  --fifth-color-alt: #B600CB;
  --principal-color: var(--first-color);
  --principal-color-alt: var(--first-color-alt);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; /* For animation dark mode */
  overflow-x: hidden;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME & COLOR ===============*/
#color-picker-container {
  position: absolute;
  top: 2.5rem;
  right: 0;
  display: flex;
  align-items: center;
}

#theme-button,
#color-picker-icon{
  font-size: 1.25rem;
}

#theme-button {
  margin-right: 0.75rem;
}

#color-menu {
  font-size: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 1.5rem;
  right: 0;
  flex-direction: column;
}

.color-option{
  margin-right: -4px;
}

/* Cambiar color de los íconos */
#color-picker-icon:hover,
#theme-button:hover {
  color: var(--principal-color);
}

.color-menu {
  display: none;
}

.color-menu.active {
  display: block;
}

.color-menu ul {
  list-style-type: none;
  padding: 0;
}

.color-option {
  width: 20px;
  height: 20px;
  margin: 7px 0 0 0;
  border-radius: 50%;
  cursor: pointer;
}

/* Agrega estilos de color específicos según tus preferencias */
.color-option[data-color="var(--first-color)"] {
  background-color: var(--first-color);
}

.color-option[data-color="var(--second-color)"] {
  background-color: var(--second-color);
}

.color-option[data-color="var(--third-color)"] {
  background-color: var(--third-color);
}

.color-option[data-color="var(--fourth-color)"] {
  background-color: var(--fourth-color);
}

.color-option[data-color="var(--fifth-color)"] {
  background-color: var(--fifth-color);
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue), 24%, 12%);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.dark-theme .button__gray {
  background-color: var(--container-color);
}

.dark-theme .button__gray:hover {
  background-color: hsl(var(--hue), 24%, 16%);
}

.dark-theme .filters__content {
  background-color: var(--container-color);
}

.dark-theme .modal {
  background-color: hsl(var(--hue), 24%, 12%);
  color: var(--text-color-light); 
}

.dark-theme .modal-content {
  background-color: transparent; 
  color: var(--text-color-light);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 8%, 24%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 32%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== PROFILE ===============*/
.profile {
  position: relative;
  padding-top: 3.5rem;
}

.profile__container {
  row-gap: 2rem;
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__perfil {
  width: 115px;
  height: 115px;
  background: linear-gradient(180deg, 
              hsla(var(--hue), var(--sat), var(--lig), 1) 0%, 
              hsla(var(--hue), var(--sat), var(--lig), .2) 100%);
  border-radius: 50%;
  overflow: hidden;
  
}

.profile__perfil img {
  width: 115px;
  border-radius: 50%;
}

.profile__border {
  border: 3.5px solid var(--principal-color);
  justify-self: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: .75rem;
}

.profile__name {
  font-size: var(--h2-font-size);
}

.profile__profession {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.profile__social {
  display: flex;
  justify-content: center;
  column-gap: .75rem;
}

.profile__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: .3s;
}

.profile__social-link:hover {
  color: var(--principal-color);
}

.profile__buttons, 
.profile__buttons-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__buttons {
  column-gap: 1rem;
}

.profile__buttons-small {
  column-gap: .25rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--principal-color);
  color: #fff;
  padding: 1.15rem 1.5rem;
  border-radius: .5rem;
  transition: .3s;
  box-shadow: 0 3px 24px var(--principal-color-alt);
}

.button i {
  font-size: 1.25rem;
}

.button:hover {
  background-color: var(--principal-color-alt);
}

.button__small {
  padding: .75rem;
  box-shadow: none;
}

.button__gray {
  background-color: var(--text-color-lighten);
  color: var(--title-color);
}

.button__gray:hover {
  background-color: var(--text-color-light);
}

.button__whatsapp {
  background-color: #4AC959; 
  color: #fff;
}

.button__whatsapp:hover {
  background-color: #357E3D; 
  color: #fff; 
}

.button__email {
  background-color: #ff6600; /* Cambia el color a naranja */
  color: #fff;
}

.button__email:hover {
  background-color: #cc5500; /* Cambia el color en hover a un tono más oscuro de naranja */
}

/*=============== MODAL ===============*/
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.modal.show-modal {
  opacity: 1;
}

.modal-content {
  margin-bottom: 10px;
  max-height: 70vh;
  min-width: 50vw;
  max-width: 80vw;
  overflow-y: auto;
}

.close-btn {
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  float: right;
}

.close-btn:hover {
  color: #f00;
}

/*=============== FILTERS TABS===============*/
.filters__content {
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-lighten);
  padding: .375rem;
  border-radius: .75rem;
  display: flex;
  justify-content: space-between;
  column-gap: .5rem;
}

.filters__button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: .75rem;
  cursor: pointer;
  background-color: transparent;
  transition: .3s;
}

.filters__button:hover {
  background-color: var(--body-color);
}

/*=============== About Me ===============*/

.about,
.experience,
.education,
.certifications {
    margin-top: 40px;
}

.about__title,
.experience__title,
.education__title,
.certifications__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.about__title i,
.experience__title i,
.education__title i,
.certifications__title i {
    margin-right: 0.75rem; /* Espacio entre el ícono y el texto */
    font-size: 1rem; /* Tamaño del ícono */
    color: var(--principal-color); /* Color principal */
}

.experience__job,
.education__item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.subject-descriptions {
  display: none;
  margin-top: 10px;
  transition: margin-top 0.3s ease;
}

.subject-description {
  margin-top: 10px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.subject-description:hover {
  cursor: pointer;
}

.subject-description::before {
  content: '\25B8';
  margin-right: 0.75rem;
  font-size: 1rem;
  color: var(--principal-color);
}

.subject-name {
  white-space: nowrap;
  margin-left: 0.5rem;
  font-size: var(--smaller-font-size);
}

.subject-description:hover .subject-name {
  transform: scale(1.1);
}

.subject-descriptions.show-descriptions {
  display: flex;
  flex-direction: column;
}

.experience__position,
.education__degree {
  font-size: 18px;
}

.experience__company,
.experience__date,
.education__university,
.education__date {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.experience__date::before,
.education__date::before {
  content: '\1F4C6';
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.experience__location {
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

.experience__location::before,
.education__location::before {
  content: '\1F4CC';
  margin-right: 0.5rem;
  font-size: 0.8rem;
  color: var(--principal-color);
}

.experience__details {
  list-style-type: disc;
  margin-top: 10px;
  padding-left: 20px;
}

.certifications__list {
  list-style-type: none;
  padding: 0;
}

.certifications__item {
  font-size: 18px;
  margin-bottom: 10px;
}

.certifications__item a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}

.certifications__item a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0;
  background-color: var(--principal-color);
  transition: width 0.71s ease;
  display: block;
}

.certifications__item a:hover::after {
  width: 100%;
}

.certifications__logo,
.experience__logo,
.education__logo {
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

/*=============== PROJECTS ===============*/
.projects__content {
  display: flex;
  flex-wrap: wrap;
}

.projects__card {
  flex: 1;
  border: 1px solid var(--title-color);
  border-radius: 16px;
  overflow: hidden;
  transition: .3s;
  margin: 0.5rem;
  transform: scale(1);
}

.projects__img {
  width: 100%;
  height: auto;
  display: block;
}

.projects__modal {
  background: linear-gradient(180deg, hsla(var(--hue), 24%, 65%, .3) 0%, hsla(var(--hue), 24%, 65%, 1) 95%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1.25rem;
  height: 100%;
  transition: .3s;
}

.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
  color: var(--text-color);
}

.projects__description {
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--text-color);
}

.projects__languages {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
  margin-top: 0.5rem;
}

.projects__card:hover .projects__modal {
  background: linear-gradient(180deg, hsla(var(--hue), 24%, 4%, .9) 0%, var(--card-background-light) 100%);
  cursor: pointer;
}

.projects__card:hover {
  transform: scale(1.05); /* Escala la tarjeta al 105% al pasar el mouse sobre ella */
}

/*=============== SKILLS ===============*/
.skills__content {
  row-gap: 3.5rem;
}

.skills__title {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: .5rem;
}

.skills__data i {
  font-size: 1rem;
  color: var(--principal-color);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: 500;
  line-height: 18px;
}

.skills__level {
  font-size: var(--smaller-font-size);
}

/* Hide and show projects & skills */
.filters [data-content] {
  display: none;
}

.filters__active[data-content] {
  display: grid;
}

/* Activate button filter */
.filter-tab-active {
  background-color: var(--body-color);
}

/*=============== FOOTER ===============*/
.footer__copy {
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--hue), 8%, 66%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 8%, 54%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 44%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .profile__buttons {
    flex-direction: column;
    row-gap: 1rem;
  }

  .skills__box {
    column-gap: 1rem;
  }
}

/* For small screens, like mobile devices */
@media screen and (max-width: 767px) {
  .modal-content {
    min-width: 70vw;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .projects__content {
    grid-template-columns: 332px;
    justify-content: center;
  }

  .filters__content {
    width: 332px;
    margin: 3rem auto;
  }
}

@media screen and (min-width: 776px) {
  .projects__content,
  .skills__content {
    grid-template-columns: repeat(2, 332px);
  }

  .skills__content {
    justify-content: center;
    column-gap: 3rem;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .change-theme {
    top: 2.5rem;
    right: 2.5rem;
  }

  .profile {
    padding-top: 4rem;
  }
  .profile__border {
    width: 135px;
    height: 135px;
    margin-bottom: 1rem;
  }
  .profile__perfil {
    width: 120px;
    height: 120px;
  }
  .profile__perfil img {
    width: 200px;
  }
  .profile__profession {
    margin-bottom: 1.5rem;
  }
  .profile__buttons {
    column-gap: 2rem;
  }

  .projects__content {
    gap: 2rem 3rem;
  }
  .projects__modal {
    padding: 1.5rem;
  }

  .skills__title {
    font-size: var(--normal-font-size);
    margin-bottom: 2.5rem;
  }

  .footer__copy {
    margin: 4.5rem 0 2.5rem;
  }
}
